<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
        <property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/postgres</property>
        <property name="hibernate.connection.username">postgres</property>
        <property name="hibernate.connection.password">ED6464</property>
        <property name="show_sql">true</property>
        <property name="hibernate.hbm2ddl.auto">validate</property>
        <mapping class="sample.Tables.Bank"/>
        <mapping class="sample.Tables.CashDesks"/>
        <mapping class="sample.Tables.CashDesks1"/>
        <mapping class="sample.Tables.Clients"/>
        <mapping class="sample.Tables.Deliveries"/>
        <mapping class="sample.Tables.ProductDeliveries"/>
        <mapping class="sample.Tables.Products"/>
        <mapping class="sample.Tables.ProductSales"/>
        <mapping class="sample.Tables.ProviderProducts"/>
        <mapping class="sample.Tables.Providers"/>
        <mapping class="sample.Tables.Roles"/>
        <mapping class="sample.Tables.Sales"/>
        <mapping class="sample.Tables.Users"/>
    </session-factory>
</hibernate-configuration>